@import "../vars";
.main{
  padding: 50px 0;
  color: #fff;
  font-family: $font2;
  overflow: hidden;
  .swiper{
    &-container{
      position: relative;
    }
    &-wrapper{
      align-items: stretch;
    }
    &-slide{
      height: auto;
      min-height: 640px;
      padding: 20px 0;
      &:hover{
        .main__img{
          transform: scale(1.1);
        }
      }
      &-active{
        padding: 0;
        .main__content{
          opacity: 1;
        }
      }
    }
    &-pagination{
      bottom: 35px;
      &-bullet{
        width: 10px;
        height: 10px;
        background: #FFFFFF;
        opacity: 1;
        &-active{
          border-radius: 28px;
          width: 21px;
          background-color: $primary;
        }
      }
    }
    &-button{
      &-prev,
      &-next{
        width: 55px;
        height: 55px;
        background: #FFFFFF;
        border-radius: 50%;
      }
      &-prev{
        left: -93px;
      }
      &-next{
        right: -93px;
      }
    }
  }
  &__inner{
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    height: 100%;
    padding: 127px 45px;
    background-size: cover;
    background-position: center;
    transition: all .3s;
  }
  &__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.2s ease-in-out;
  }
  &__content{
    max-width: 480px;
    opacity: 0;
    transition: all .5s;
    position: relative;
    z-index: 2;
  }
  &__desc{
    font-size: 16px;
    line-height: 175%;
    margin-top: 24px;
  }
  &__link{
    margin-top: 42px;
    width: 192px;
    height: 50px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
  }
}

.category{
  padding: 30px 0;
  overflow: hidden;
  @media screen and (min-width: 1100px){
    &__items{
      display: grid;
      grid-template-columns: repeat(7,1fr);
      transform: unset !important;
    }
    &__item{
      margin: 0;
    }
  }
  &__item{
    &:hover{
      .category__img{
        img{
          transform: scale(1.1);
        }
      }
    }
  }
  &__img{
    width: 123px;
    height: 123px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    img{
      transition: transform 1.2s ease-in-out;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    font-size: 14px;
    line-height: 121%;
    text-align: center;
    margin: 20px auto 0;
    display: block;
    max-width: 130px;
  }
}

.new{
  padding: 50px 0;
  overflow: hidden;
  &__slider{
    position: relative;
  }
  .swiper{
    &-container{

    }
    &-wrapper{
      align-items: stretch;
    }
    &-slide{
      height: auto;
      @media screen and (min-width: 1150px){
        opacity: 0;
        &-active,
        &-next,
        &-next+.swiper-slide,
        &-next+.swiper-slide+.swiper-slide,
        &-next+.swiper-slide+.swiper-slide+.swiper-slide{
          opacity: 1;
        }
      }
    }
    &-button{
      &-prev,
      &-next{
        width: 48px;
        height: 48px;
        border: 0.813559px solid $primary;
        border-radius: 50%;
        box-shadow: 0px 3.25424px 11.3898px rgba(0, 0, 0, 0.08);
        background-color: #fff;
      }
      &-prev{
        left: -24px;
      }
      &-next{
        right: -24px;
      }
      &-disabled{
        opacity: 0 !important;
      }
    }
  }
}

.recipes{
  padding: 40px 0;
  &__grid{
    display: grid;
    grid-template-columns: repeat(3, calc(33.333% - (40px / 3)));
    gap: 20px;
  }
  &__banner{
    padding: 38px 20px;
    background-image: url(../img/banner.png);
    background-size: cover;
    text-align: center;
    &-title{
      color: #fff;
      font-family: $font3;
      font-size: 24px;
      line-height: 125%;
    }
    &-img{
      margin-top: 15px;
      max-width: 100%;
    }
  }
}

.news{
  padding: 40px 0;
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.seo{
  padding: 40px 0;
  &__text{
    margin-top: 15px;
    column-count: 2;
    column-gap: 30px;
    p{
      font-size: 14px;
      line-height: 136%;
      color: #717171;
      display: inline-block;
      width: 100%;
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }
}

.consult{
  padding: 40px 0;
  &__inner{
    text-align: center;
    padding: 77px 50px 94px;
    background-color: #F4F7F8;
    background-image: url(../img/consult-bg.png);
    background-size: cover;
    background-position: center;
    border-radius: 60px;
  }
  &__title{
    font-family: $font2;
    font-weight: 600;
    font-size: 31px;
    line-height: 122%;
    text-align: center;
    letter-spacing: -0.04em;
    max-width: 540px;
    margin: 0 auto;
  }
  &__desc{
    margin-top: 30px;
    color: rgba(142, 142, 142, 0.98);
    font-weight: 400;
    font-size: 16px;
  }
  &__form{
    margin: 50px auto 0;
    width: 100%;
    max-width: 440px;
    position: relative;
    input{
      padding-right: 160px;
    }
  }
  &__btn{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 148px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    font-family: $font2;
  }
}

@media screen and (max-width: 1400px){
  .main{
    &__inner{
      padding-left: 80px;
    }
    .swiper{
      &-button{
        &-prev{
          left: 10px;
        }
        &-next{
          right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px){

}

@media screen and (max-width: 1100px){
  .category{
    &__item{
      width: 123px;
    }
  }

  .recipes{
    &__grid{
      grid-template-columns: repeat(2, calc(50% - 10px));
    }
  }
}

@media screen and (max-width: 992px){
  .main{
    padding: 20px 0;
    .swiper{
      &-slide{
        padding: 0;
        min-height: unset;
      }
      &-button{
        &-prev,
        &-next{
          display: none;
        }
      }
      &-pagination{
        bottom: 10px;
      }
    }
    &__inner{
      padding: 50px 30px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      &::before{
        content: '';
        position: absolute;
        background: linear-gradient(90.15deg, rgba(0, 0, 0, 0.8) 1.67%, rgba(0, 0, 0, 0.632) 50.96%, rgba(0, 0, 0, 0) 98.44%);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
      }
    }
    &__content{
      max-width: 350px;
      position: relative;
      z-index: 2;
    }
    &__desc{
      font-size: 14px;
      margin-top: 15px;
    }
    &__link{
      margin-top: 25px;
    }
  }

  .category{
    padding: 15px 0;
  }

  .new{
    overflow: hidden;
    padding: 30px 0;
    .swiper{
      &-container{
        overflow: unset;
      }
      &-slide{
        width: 225px;
      }
      &-button{
        &-prev,
        &-next{
          display: none;
        }
      }
    }
  }

  .recipes{
    padding: 30px 0;
  }

  .news{
    padding: 30px 0;
    &__grid{
      grid-template-columns:  1fr;
    }
  }

  .seo{
    padding: 30px 0;
    &__text{
      column-count: 1;
    }
  }

  .consult{
    padding: 30px 0;
    &__inner{
      background: #F4F7F8;
      border-radius: 30px;
      padding: 40px 20px;
    }
    &__title{
      font-size: 24px;
    }
    &__desc{
      margin-top: 20px;
      line-height: 120%;
    }
    &__form{
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 576px){
  .main{
    &__inner{
      padding: 30px 20px 40px;
    }
    &__content{
      max-width: 280px;
    }
    &__link{
      width: 100%;
      height: 42px;
      font-size: 14px;
    }
  }

  .recipes{
    &__grid{
      grid-template-columns: 100%;
    }
    &__banner{
      &-title{
        font-size: 18px;
      }
    }
  }

  .consult{
    &__inner{
      border-radius: 10px;
    }
    &__form{
      input{
        padding-right: 30px;
      }
    }
    &__btn{
      position: static;
      width: 100%;
      height: 55px;
      margin-top: 10px;
    }
  }
}
