<div class="header-catalog__group">
    <div class="header-catalog__title">
        Подкатегория
        @@title
    </div>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
</div>
<div class="header-catalog__group">
    <div class="header-catalog__title">Подкатегория</div>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
</div>
<div class="header-catalog__group">
    <div class="header-catalog__title">Подкатегория</div>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
</div>
<div class="header-catalog__group">
    <div class="header-catalog__title">Подкатегория</div>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
    <a href="" class="header-catalog__link">Под-подкатегория</a>
</div>
